<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="346b9be9-1a84-48ee-a671-bd3771bca016" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="346b9be9-1a84-48ee-a671-bd3771bca016fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
